In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [13]:
df=pd.read_csv("placementdata.csv")

In [14]:
df.head()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus
0,1,7.5,1,1,1,65,4.4,No,No,61,79,NotPlaced
1,2,8.9,0,3,2,90,4.0,Yes,Yes,78,82,Placed
2,3,7.3,1,2,2,82,4.8,Yes,No,79,80,NotPlaced
3,4,7.5,1,1,2,85,4.4,Yes,Yes,81,80,Placed
4,5,8.3,1,2,2,86,4.5,Yes,Yes,74,88,Placed

In [15]:
df.isnull().sum()

StudentID                    0
CGPA                         0
Internships                  0
Projects                     0
Workshops/Certifications     0
AptitudeTestScore            0
SoftSkillsRating             0
ExtracurricularActivities    0
PlacementTraining            0
SSC_Marks                    0
HSC_Marks                    0
PlacementStatus              0
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   StudentID                  10000 non-null  int64
 1   CGPA                       10000 non-null  float64
 2   Internships                10000 non-null  int64
 3   Projects                   10000 non-null  int64
 4   Workshops/Certifications   10000 non-null  int64
 5   AptitudeTestScore          10000 non-null  int64
 6   SoftSkillsRating           10000 non-null  float64
 7   ExtracurricularActivities  10000 non-null  object
 8   PlacementTraining          10000 non-null  object
 9   SSC_Marks                  10000 non-null  int64
 10  HSC_Marks                  10000 non-null  int64
 11  PlacementStatus            10000 non-null  object
dtypes: float64(2), int64(7), object(3)
memory usage: 937.6+ KB

In [38]:
df_cgpa=pd.DataFrame(df.groupby("CGPA").agg(placement_cnt=('PlacementStatus', 'count')))
df_cgpa.sort_values(by='placement_cnt', ascending=False)

      placement_cnt
CGPA
6.5             833
7.6             814
7.5             798
8.3             662
8.2             655
7.7             622
8.4             608
7.4             590
8.1             534
7.8             453
8.0             445
8.5             428
7.9             384
8.6             309
6.6             278
7.3             267
6.7             265
6.8             212
8.7             187
6.9             165
7.2             127
7.0             121
7.1              92
8.8              86
8.9              49
9.0              13
9.1               3

In [43]:
df_cgpa=pd.DataFrame(df.groupby("AptitudeTestScore").agg(placement_cnt=('PlacementStatus', 'count')))
df_cgpa.sort_values(by='placement_cnt', ascending=False)

                   placement_cnt
AptitudeTestScore
90                          1715
81                           409
78                           402
77                           399
79                           396
80                           392
82                           383
83                           367
76                           363
85                           355
75                           348
84                           344
74                           343
86                           324
71                           316
87                           312
88                           306
73                           301
70                           295
72                           290
89                           285
69                           245
68                           229
67                           184
66                           158
65                           131
60                           116
64                           113
63                            69
61                            58
62                            52

In [45]:
df_cgpa=pd.DataFrame(df.groupby("Internships").agg(placement_cnt=('PlacementStatus', 'count')))
df_cgpa.sort_values(by='placement_cnt', ascending=False)

             placement_cnt
Internships
1                     5542
2                     2475
0                     1983

In [35]:
df.head()

,StudentID,CGPA,Internships,Projects,Workshops/Certifications,AptitudeTestScore,SoftSkillsRating,ExtracurricularActivities,PlacementTraining,SSC_Marks,HSC_Marks,PlacementStatus
0,1,7.5,1,1,1,65,4.4,No,No,61,79,NotPlaced
1,2,8.9,0,3,2,90,4.0,Yes,Yes,78,82,Placed
2,3,7.3,1,2,2,82,4.8,Yes,No,79,80,NotPlaced
3,4,7.5,1,1,2,85,4.4,Yes,Yes,81,80,Placed
4,5,8.3,1,2,2,86,4.5,Yes,Yes,74,88,Placed

np.int64(0)

In [33]:
print("hrllo")

hrllo